# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.lock.hcl
credentials.auto.tfvars
*.out

inventory.ini

# Ansible
*.retry

# Packer
packer_cache/
output-*/
credentials.pkr.hcl

# Kubernetes
kubeconfig

# Docker
.env
